$listControl-background: #9765f4;
$listControl-background-hover: #6002ee;
$listControl-color: white;
$listControl-size: 50px;
$listControl-fontSize: 16px;

.list__controls {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.list__control {
  padding: 10px;
  color: $listControl-color;
  font-size: $listControl-fontSize;
  background: $listControl-background;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;

  & + & {
    margin-left: 10px;
  }

  &:hover {
    background: $listControl-background-hover;
  }
}

.list__cards {
  display: flex;
  flex-wrap: wrap;
}

.list__card {
  margin: 0 5px 5px 0;
  aspect-ratio: 1;
}
